html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #232323;
}

h1 {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  color: steelblue;
  font-weight: bold;
}

#title {
  text-align: center;
  background: steelblue;
  color:white;
  font-family: 'Avenir', 'Montserrat';
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.3s ease;
  line-height: 1.2;
  padding: 20px 0;
}

#pickedColor {
  font-size: 60px;
}

#strip {
  display: block;
  background-color: white;
  margin: 0 auto;
}


button {
  font-family: 'Avenir', 'Montserrat';
  font-size: 20px;
  text-align: center;
  outline: none;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  padding: 0 30px;
}

.selected {
  background-color: steelblue;
  border: none;
  outline: none;
  color: white;
}

#squareContainer {
  max-width: 600px;
  margin: 0 auto;
}

.square {
  width: 30%;
  background-color: steelblue;
  padding-bottom: 30%;
  margin: 1.66%;
  display: inline-block;
  border-radius: 15%;
  float: left;
  transition: all 0.3s ease;
}

button:hover {
  background-color: steelblue;
  color: white;
  transition: background-color 0.2s ease;
}

#squareContainer {
  padding-top: 30px;
}
